{% comment %}

  This snippet is used for rendering the list of collections

  button_label - "string" optional
  items - { object } *required
  items_type - "string" *required
  settings - { settings } *required
  placeholder - image optional

  Usage:

  {%- render 'collections-grid',
      button_label: "your_string",
      items: your_id,
      items_type: "your_string",
      settings: settings,
      placeholder: your_id
  -%}

{% endcomment %}

{%- assign item_button_label = "" -%}
{%- assign image_fit         = settings.collection_card_image_fit -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture image_variables -%}
  {%- case image_fit -%}
    {%- when 'cover' -%}
      --object-fit: cover;
    {%- when 'contain' -%}
      --object-fit: contain;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

<ul class="collections__list collection"{% if image_fit != blank %} style="{{- image_variables | escape -}}"{%- endif -%}>
  {%- for item in items -%}
    {%- case items_type -%}
      {%- when "blocks" -%}
        {%- assign collection = item.settings.collection -%}
        {%- assign item_button_label = item.settings.collection_button_label -%}
      {%- when "collections" -%}
        {%- assign collection = item -%}
        {%- assign item_button_label = button_label -%}
    {%- endcase -%}

    {%- assign badge_background = item.settings.badge_background -%}
    {%- assign badge_color      = item.settings.badge_color -%}
    {%- assign badge_label      = item.settings.badge_label -%}
    {%- assign button_url       = "" -%}
    {%- assign description      = "" -%}
    {%- assign id               = item.id -%}
    {%- assign image            = "" -%}
    {%- assign name             = "" -%}
    {%- assign show_description = item.settings.show_collection_description -%}

    {%- if collection != blank -%}
      {%- assign button_url     = collection.url -%}
      {%- assign description    = collection.description | truncatewords: 6, " ..." -%}
      {%- assign first_product  = collection.products | first -%}
      {%- assign name           = collection.name -%}

      {%- if collection.image -%}
        {%- assign image = collection.image -%}
      {%- elsif first_product and first_product.images.first != empty -%}
        {%- assign image = first_product.images.first -%}
      {%- endif -%}
    {%- else -%}
      {%- assign image = placeholder -%}
    {%- endif -%}

    {% comment %} CSS variables start {% endcomment %}
    {%- if badge_label != blank -%}
      {%- capture variables -%}
        --badge-background: {{- badge_background -}};
        --badge-color: {{- badge_color -}};
      {%- endcapture -%}
    {%- endif -%}
    {% comment %} CSS variables end {% endcomment %}

    <li class="collection__item" id="{{- id -}}"{% if badge_label != blank %} style="{{ variables | escape }}"{%- endif -%}>
      <div class="collection__content">
        {%- if badge_label != blank -%}
          <span class="collection__badge">{{- badge_label -}}</span>
        {%- endif -%}

        <div class="collection__text-area">
          <h4 class="collection__heading">
            {{- name | default: "Collection" -}}
          </h4>

          {%- if show_description -%}
            <div class="collection__description">
              {{- description | default: "Discover brand" -}}
            </div>
          {%- endif -%}

          <div class="collection__buttons">
            <a class="collection__button button button--primary button--large" href="{{ button_url }}">
              {{- item_button_label |  default: "SEE MORE" -}}
            </a>
          </div>
        </div>
      </div>

      {%- if image.url != blank -%}
        <div class="collection__image-holder">
          {%- render 'image',
            image: image,
            image_alt: name,
            image_class: 'collection__image',
            image_size: 'flexible'
          -%}
        </div>
      {%- else -%}
        {%- render 'image-placeholder', dimension: "530x320" -%}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
