{{ "call-to-action.css" | asset_url | stylesheet_tag }}

{%- assign button_label          = section.settings.button_label -%}
{%- assign button_url            = section.settings.button_url -%}
{%- assign color_scheme          = section.settings.color_scheme -%}
{%- assign description           = section.settings.description -%}
{%- assign full_width            = section.settings.full_width -%}
{%- assign image                 = section.settings.image -%}
{%- assign layout                = section.settings.layout -%}
{%- assign overlay_background    = section.settings.overlay_background -%}
{%- assign overlay_color         = section.settings.overlay_color -%}
{%- assign overlay_opacity       = section.settings.overlay_opacity -%}
{%- assign padding_bottom        = section.settings.padding_bottom -%}
{%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
{%- assign padding_top           = section.settings.padding_top -%}
{%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
{%- assign show_borders          = section.settings.show_borders -%}
{%- assign show_overlay          = section.settings.show_overlay -%}
{%- assign tag                   = section.settings.tag -%}
{%- assign title                 = section.settings.title -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- if show_overlay -%}
    --background-overlay: {{- overlay_background -}};
    --background-overlay-00: {{- overlay_background | append: '00' -}};
    --color-overlay: {{- overlay_color -}};
    --opacity-overlay: {{ overlay_opacity | append: "%"}};
  {%- endif -%}

  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 60px;
    {%- when 'medium' -%}
      --padding-top: 112px;
    {%- when 'large' -%}
      --padding-top: 200px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 60px;
    {%- when 'medium' -%}
      --padding-bottom: 112px;
    {%- when 'large' -%}
      --padding-bottom: 200px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 40px;
    {%- when 'medium' -%}
      --padding-top-mobile: 80px;
    {%- when 'large' -%}
      --padding-top-mobile: 120px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 40px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 80px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 120px;
  {%- endcase -%}
{%- endcapture -%}
{% comment %} CSS variables end {% endcomment %}

{%- unless full_width -%}
  <div class="cta__container container">
{%- endunless -%}
    <div class="cta__wrapper cta__wrapper-{{ layout }}{% if show_overlay %} cta__wrapper--with-overlay{% endif %}{% if show_borders %} cta__wrapper--with-border{% endif %}{% if padding_top != blank or padding_top_mobile != blank %} cta__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} cta__wrapper--padding-bottom{% endif %} color-{{- color_scheme.id -}}" style="{{- variables | escape -}}">
      {%- if full_width -%}
        <div class="cta__container container">
      {%- endif -%}
          <div class="cta__content">
            {%- if tag != blank or title != blank or button_label != blank and button_url != blank -%}
              <div class="cta__text-area">
                {%- if tag != blank -%}
                  <span class="cta__tag tagline">{{- tag -}}</span>
                {%- endif -%}

                {%- if title != blank -%}
                  <h2 class="cta__title">{{- title -}}</h2>
                {%- endif -%}

                {%- if description != blank -%}
                  <div class="cta__description bq-content rx-content text-medium">
                    {{- description -}}
                  </div>
                {%- endif -%}
              </div>

              {%- if button_label != blank and button_url != blank -%}
                <div class="cta__buttons">
                  <a class="cta__button button button--primary button--large" href="{{ button_url }}">
                    {{- button_label -}}
                  </a>
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
      {%- if full_width -%}
        </div>
      {%- endif -%}

      {% if image != blank %}
        <div class="cta__image-wrapper">
          {%- render 'image',
              image: image,
              loading: 'lazy',
              class: 'cta__image',
              size: 'xxl'
          -%}
        </div>
      {%- endif -%}
    </div>
{%- unless full_width -%}
  </div>
{%- endunless -%}


{% schema %}
  {
    "name": "Call to action",
    "tag": "section",
    "class": "cta",
    "description": "Draw visitors' attention with a CTA section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-3"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tagline",
        "default": "UNIQUE & PERFECT",
        "info": "Leave blank to hide tagline"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Ready to get started?"
      },
      {
        "type": "contentEditor",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "GET IN TOUCH"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL",
        "default": "booqable://root"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image (optional)",
        "default": "booqable://assets/image-placeholder.png"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full-width background",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_borders",
        "label": "Show borders",
        "default": false
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "checkbox",
        "id": "show_overlay",
        "label": "Show overlay",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "overlay_background",
        "label": "Background color",
        "default": "#000000"
      },
      {
        "type": "number",
        "id": "overlay_opacity",
        "label": "Background percentage",
        "min": 0,
        "max": 100,
        "default": 40
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "row",
            "label": "Row"
          },
          {
            "value": "column",
            "label": "Column"
          }
        ],
        "default": "column",
        "info": "'Row' could be used for short content"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ]
  }
{% endschema %}
