{%- assign availability                  = product | product_availability -%}
{%- assign availability_calendar         = product | availability_calendar -%}
{%- assign breadcrumbs_collections_label = section.settings.breadcrumbs_collections_label -%}
{%- assign breadcrumbs_root_label        = section.settings.breadcrumbs_root_label -%}
{%- assign breadcrumbs_root_url          = section.settings.breadcrumbs_root_url -%}
{%- assign bundle_items                  = product | bundle_items -%}
{%- assign color_scheme                  = section.settings.color_scheme -%}
{%- assign description                   = product.description -%}
{%- assign description_placement         = section.settings.description_placement -%}
{%- assign enable_controls_desktop       = section.settings.show_controls -%}
{%- assign enable_controls_mobile        = section.settings.enable_controls_mobile -%}
{%- assign enable_thumbnails_desktop     = section.settings.show_thumbnails -%}
{%- assign enable_thumbnails_mobile      = section.settings.enable_thumbnails_mobile -%}
{%- assign infinity_scroll_desktop       = section.settings.infinity_scroll -%}
{%- assign infinite_scroll_mobile        = section.settings.infinite_scroll_mobile -%}
{%- assign message_label                 = section.settings.message_label -%}
{%- assign object_fit_desktop            = section.settings.object_fit_desktop -%}
{%- assign object_fit_mobile             = section.settings.object_fit_mobile -%}
{%- assign padding_bottom                = section.settings.padding_bottom -%}
{%- assign padding_bottom_mobile         = section.settings.padding_bottom_mobile -%}
{%- assign padding_top                   = section.settings.padding_top -%}
{%- assign padding_top_mobile            = section.settings.padding_top_mobile -%}
{%- assign period                        = product | product_price_label -%}
{%- assign price                         = product | product_price -%}
{%- assign quantity                      = product | product_button -%}
{%- assign show_breadcrumbs              = section.settings.show_breadcrumbs -%}
{%- assign title                         = product.name -%}
{%- assign variants                      = product.variants -%}
{%- assign variant_label                 = 'store.variant' | user_t -%}
{%- assign variant_selector              = product | product_variations_select -%}

{% comment %} CSS variables start {% endcomment %}
{%- capture variables -%}
  {%- case padding_top -%}
    {%- when 'small' -%}
      --padding-top: 24px;
    {%- when 'medium' -%}
      --padding-top: 40px;
    {%- when 'large' -%}
      --padding-top: 60px;
  {%- endcase -%}

  {%- case padding_bottom -%}
    {%- when 'small' -%}
      --padding-bottom: 24px;
    {%- when 'medium' -%}
      --padding-bottom: 40px;
    {%- when 'large' -%}
      --padding-bottom: 60px;
  {%- endcase -%}

  {%- case padding_top_mobile -%}
    {%- when 'small' -%}
      --padding-top-mobile: 24px;
    {%- when 'medium' -%}
      --padding-top-mobile: 36px;
    {%- when 'large' -%}
      --padding-top-mobile: 48px;
  {%- endcase -%}

  {%- case padding_bottom_mobile -%}
    {%- when 'small' -%}
      --padding-bottom-mobile: 24px;
    {%- when 'medium' -%}
      --padding-bottom-mobile: 36px;
    {%- when 'large' -%}
      --padding-bottom-mobile: 48px;
  {%- endcase -%}
{%- endcapture -%}

{%- render 'variables-product-availability' -%}
{%- render 'variables-product-gallery' -%}
{%- render 'variables-product-quantity' -%}
{%- render 'variables-product-variations' -%}
{% comment %} CSS variables end {% endcomment %}

<div class="product-main__wrapper color-{{ color_scheme.id }}" style="{{- variables | escape -}}">
  <div class="product-main__container container{% if padding_top != blank or padding_top_mobile != blank %} product-main__container--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} product-main__container--padding-bottom{%- endif -%}">
    {%- render 'breadcrumbs',
        product: product,
        show: show_breadcrumbs,
        routes: routes,
        root_label: breadcrumbs_root_label,
        root_url: breadcrumbs_root_url,
        collections_label: breadcrumbs_collections_label
    -%}

    <div class="product-main__grid">
      <div class="product-main__gallery">
        {{ product | product_gallery:
          image_fit_desktop: object_fit_desktop,
          enable_thumbnails_desktop: enable_thumbnails_desktop,
          infinite_scroll_desktop: infinite_scroll_desktop,
          enable_controls_desktop: enable_controls_desktop,
          image_fit_mobile: object_fit_mobile,
          enable_thumbnails_mobile: enable_thumbnails_mobile,
          infinite_scroll_mobile: infinite_scroll_mobile,
          enable_controls_mobile: enable_controls_mobile
        }}
      </div>

      <div class="product-main__info">
        <h1 class="product-main__title">{{- title -}}</h1>
        {%- if price != blank -%}
          <div class="product-main__price">
            {{- price -}}

            {%- if period != blank -%}
              <span class="product-main__price-separator">/</span>
              {{- period -}}
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if description != blank and description_placement == "top" -%}
          <div class="product-main__description bq-content rx-content">{{- description -}}</div>
        {%- endif -%}

        <div class="product-main__variant">
          {%- if variants.size > 1 -%}
            <div class="product-main__variant-label">{{- variant_label -}}</div>

            <div class="product-main__variant-selector">{{- variant_selector -}}</div>
          {%- endif -%}

          {{- bundle_items -}}
        </div>

        <div class="product-main__availability">
          {{- availability -}}
          {{- availability_calendar -}}
        </div>

        <div class="product-main__quantity">{{- quantity -}}</div>

        {%- if message_label != blank -%}
          <div class="product-main__message">
            <span class="product-main__message-label">{{- message_label -}}</span>
          </div>
        {%- endif -%}

        {%- if description != blank and description_placement == "bottom" -%}
          <div class="product-main__description bq-content rx-content">{{- description -}}</div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product information",
    "tag": "section",
    "class": "product-main",
    "templates": ["product"],
    "css_assets": [
      {
        "file": "product-page.css"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "message_label",
        "label": "Message label"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "select",
        "id": "description_placement",
        "label": "Product description placement",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "top"
      },
      {
        "type": "header",
        "content": "Breadcrumbs"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "default": true,
        "label": "Show breadcrumbs"
      },
      {
        "type": "text",
        "id": "breadcrumbs_root_label",
        "label": "Root label",
        "info": "Leave blank to use the default label"
      },
      {
        "type": "select",
        "id": "breadcrumbs_root_url",
        "label": "Root link",
        "options": [
          {
            "value": "home",
            "label": "Home"
          },
          {
            "value": "collections",
            "label": "Collections"
          },
          {
            "value": "products",
            "label": "All products"
          }
        ],
        "default": "collections"
      },
      {
        "type": "text",
        "id": "breadcrumbs_collections_label",
        "label": "'Collections' label",
        "info": "Visible only if 'Home' option of the root link is chosen"
      },
      {
        "type": "header",
        "content": "Carousel"
      },
      {
        "type": "paragraph",
        "content": "These settings will apply to the carousel on desktop devices."
      },
      {
        "type": "select",
        "id": "image_fit_desktop",
        "label": "Display images as",
        "options": [
          {
            "value": "cover",
            "label": "Square"
          },
          {
            "value": "contain",
            "label": "Full image"
          }
        ],
        "default": "cover"
      },
      {
        "type": "checkbox",
        "id": "show_controls",
        "label": "Show navigation buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_thumbnails",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "infinite_scroll",
        "label": "Infinity scroll",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "These settings will apply to the carousel on mobile devices."
      },
      {
        "type": "select",
        "id": "image_fit_mobile",
        "label": "Display images as",
        "options": [
          {
            "value": "cover",
            "label": "Square"
          },
          {
            "value": "contain",
            "label": "Full image"
          }
        ],
        "default": "cover"
      },
      {
        "type": "checkbox",
        "id": "enable_controls_mobile",
        "label": "Show navigation buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_thumbnails_mobile",
        "label": "Show thumbnails",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "infinite_scroll_mobile",
        "label": "Infinity scroll",
        "default": true
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "important": true,
    "unique": true
  }
{% endschema %}
