{%- assign blocks             = section.blocks -%}
{%- assign button_label       = "" -%}
{%- assign button_url         = "" -%}
{%- assign category           = false -%}
{%- assign collection         = section.settings.collection -%}
{%- assign heading            = "" -%}
{%- assign image              = "" -%}
{%- assign image_placeholder  = settings.image_placeholder -%}
{%- assign overlay_background = "" -%}
{%- assign overlay_color      = "" -%}
{%- assign overlay_opacity    = "" -%}
{%- assign show_overlay       = "" -%}
{%- assign size               = "" -%}

{%- for block in blocks -%}
  {%- case block.type -%}
    {%- when "category" -%}
      {%- assign button_label       = block.settings.button_label -%}
      {%- assign button_url         = block.settings.button_url -%}
      {%- assign category           = true -%}
      {%- assign heading            = block.settings.heading -%}
      {%- assign image              = block.settings.image -%}
      {%- assign overlay_background = block.settings.overlay_background -%}
      {%- assign overlay_color      = block.settings.overlay_color -%}
      {%- assign overlay_opacity    = block.settings.overlay_opacity -%}
      {%- assign show_overlay       = block.settings.show_overlay -%}

      {%- if image != blank -%}
        {%- assign image = image -%}
      {%- elsif image_placeholder != blank -%}
        {%- assign image = image_placeholder -%}
      {%- else -%}
        {%- assign image = blank -%}
      {%- endif -%}

      {% comment %} CSS variables start {% endcomment %}
      {%- capture block_variables -%}
        {%- if show_overlay -%}
          --color-overlay: {{- overlay_color -}};
          --background-overlay: {{- overlay_background -}};
          --background-overlay-00: {{- overlay_background | append: "00" -}};
          --opacity-overlay: {{ overlay_opacity | append: "%"}};
        {%- endif -%}
      {%- endcapture -%}
      {% comment %} CSS variables end {% endcomment %}
  {%- endcase -%}
{%- endfor -%}

{%- if collection != blank -%}
  {%- assign items         = collection.items -%}
  {%- assign items_type    = "collection" -%}
  {%- assign size          = collection.items_count -%}

{%- else -%}
  {%- assign items         = blocks -%}
  {%- assign items_type    = "blocks" -%}
  {%- assign product_items = "" -%}

  {%- for item in items -%}
    {%- if item.type != "product" -%}
      {%- continue -%}
    {%- endif -%}

    {%- if product_items == "" -%}
      {%- assign product_items = item.id -%}
    {%- else -%}
      {%- assign product_items = product_items | append: ", " | append: item.id -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign product_items_arr = product_items | split: ", " -%}
  {%- assign size = product_items_arr | size -%}
{%- endif -%}

{%- if size > 0 -%}
  {{ "products.css" | asset_url | stylesheet_tag }}
  {{ "product-card.css" | asset_url | stylesheet_tag }}

  {%- assign carousel              = false -%}
  {%- assign color_scheme          = section.settings.color_scheme -%}
  {%- assign heading_centering     = section.settings.heading_centering -%}
  {%- assign image_fit             = section.settings.image_fit -%}
  {%- assign is_focal              = false -%}
  {%- assign padding_bottom        = section.settings.padding_bottom -%}
  {%- assign padding_bottom_mobile = section.settings.padding_bottom_mobile -%}
  {%- assign padding_top           = section.settings.padding_top -%}
  {%- assign padding_top_mobile    = section.settings.padding_top_mobile -%}
  {%- assign show_borders          = section.settings.show_borders -%}
  {%- assign show_excerpt          = section.settings.show_excerpt -%}
  {%- assign show_navigation       = section.settings.show_navigation -%}
  {%- assign spacing               = section.settings.spacing -%}
  {%- assign spacing_mobile        = section.settings.spacing_mobile -%}
  {%- assign tag                   = section.settings.tag -%}
  {%- assign timer                 = section.settings.timer -%}
  {%- assign title                 = section.settings.title -%}

  {%- if settings.use_focal_images and image_fit == 'cover' -%}
    {%- assign is_focal = true -%}
  {%- endif -%}

  {%- if size > 1 -%}
    {{ "carousel.css" | asset_url | stylesheet_tag }}

    {%- assign carousel = true -%}
  {%- endif -%}

  {% comment %} CSS variables start {% endcomment %}
  {%- capture variables -%}
    {%- case padding_top -%}
      {%- when 'small' -%}
        --padding-top: 24px;
      {%- when 'medium' -%}
        --padding-top: 56px;
      {%- when 'large' -%}
        --padding-top: 112px;
    {%- endcase -%}

    {%- case padding_bottom -%}
      {%- when 'small' -%}
        --padding-bottom: 24px;
      {%- when 'medium' -%}
        --padding-bottom: 56px;
      {%- when 'large' -%}
        --padding-bottom: 112px;
    {%- endcase -%}

    {%- case padding_top_mobile -%}
      {%- when 'small' -%}
        --padding-top-mobile: 16px;
      {%- when 'medium' -%}
        --padding-top-mobile: 32px;
      {%- when 'large' -%}
        --padding-top-mobile: 64px;
    {%- endcase -%}

    {%- case padding_bottom_mobile -%}
      {%- when 'small' -%}
        --padding-bottom-mobile: 16px;
      {%- when 'medium' -%}
        --padding-bottom-mobile: 32px;
      {%- when 'large' -%}
        --padding-bottom-mobile: 64px;
    {%- endcase -%}

    {%- case image_fit -%}
      {%- when 'cover' -%}
        --object-fit: cover;
      {%- when 'contain' -%}
        --object-fit: contain;
    {%- endcase -%}

    {%- case spacing -%}
      {%- when 'none' -%}
        --grid-gap: 0px;
      {%- when 'small' -%}
        --grid-gap: 4px;
      {%- when 'medium' -%}
        --grid-gap: 16px;
      {%- when 'large' -%}
        --grid-gap: 32px;
    {%- endcase -%}

    {%- case spacing_mobile -%}
      {%- when 'none' -%}
        --grid-gap-mobile: 0px;
      {%- when 'small' -%}
        --grid-gap-mobile: 8px;
      {%- when 'medium' -%}
        --grid-gap-mobile: 24px;
      {%- when 'large' -%}
        --grid-gap-mobile: 48px;
    {%- endcase -%}
  {%- endcapture -%}

  {%- render 'variables-product-availability' -%}
  {% comment %} CSS variables end {% endcomment %}

  <div
    class="products__wrapper color-{{ color_scheme.id }}{% if padding_top != blank or padding_top_mobile != blank %} products__wrapper--padding-top{% endif %}{% if padding_bottom != blank or padding_bottom_mobile != blank %} products__wrapper--padding-bottom{%- endif -%}"
    style="{{- variables | escape -}}"
  >
    <div class="products__container container section-title">
      {%- render 'section-title',
          centering: heading_centering,
          tag: tag,
          title: title
      -%}

    {%- if category -%}
      <div class="products__content">
    {%- endif -%}
        <div class="products__list{% if carousel %} carousel carousel__pause{%- endif -%}"{% if carousel %} aria-role="Gallery"{%- endif -%}>
          {%- if carousel -%}
            <input class="carousel__timer" type="hidden" name="hidden" value="{{- timer -}}" aria-hidden="true">
            <div class="carousel__list">
              <div class="carousel__wrapper">
            {%- endif -%}

              {%- for item in items -%}
                {% case items_type %}
                  {% when "blocks" %}
                    {%- if item.type != "product" -%}
                      {%- continue -%}
                    {%- else -%}
                      {% assign product = item.settings.product %}
                    {%- endif -%}
                  {% when "collection" %}
                    {% assign product = item %}
                {% endcase %}

                {%- if carousel -%}
                  <div class="carousel__item">
                    <div class="carousel__inner">
                {%- endif -%}
                      {%- render 'product-card',
                          product: product,
                          placeholder: image_placeholder,
                          border: show_borders,
                          focal: is_focal,
                          show_excerpt: show_excerpt
                      -%}
                {%- if carousel -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endfor -%}

            {%- if carousel -%}
              </div>
            </div>
            {%- if show_navigation -%}
              <div class="carousel__navigation hidden" aria-role="Carousel navigation">
                <span class="carousel__btn prev" aria-label="Prev slide">
                  Previous slide
                  {%- render 'icon-arrow-right-full' -%}
                </span>
                <span class="carousel__btn next" aria-label="Next slide">
                  Next slide
                  {%- render 'icon-arrow-right-full' -%}
                </span>
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
    {%- if category -%}
        <div class="products__category-block"{% if show_overlay %} style="{{- block_variables | escape -}}"{%- endif -%}>
          {%- if heading != blank or button_label != blank and button_url != blank -%}
            <div class="products__category-content">
              {%- if heading != blank -%}
                <h4 class="products__category-heading">
                  {{- heading -}}
                </h4>
              {%- endif -%}

              {%- if button_label != blank and button_url != blank -%}
                <div class="products__category-buttons">
                  <a href="{{ button_url }}" class="products__category-button button button--primary button--small">
                    {{- button_label -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if image != blank -%}
            <div class="products__category-background-wrapper{% if show_overlay %} products__category-background-wrapper--overlay{%- endif -%}">
              {%- render 'image',
                  image: image,
                  loading: 'lazy',
                  class: 'products__category-background',
                  size: 'flexible'
                -%}
            </div>
          {%- else -%}
            {%- render 'image-placeholder', dimension: "500x550" -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Products",
    "description": "Display individual products or items from a collection in a grid or sliding carousel",
    "tag": "section",
    "class": "products",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "text",
        "id": "tag",
        "label": "Tagline",
        "default": "THIS WEEK"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Popular products"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "set-1"
      },
      {
        "type": "select",
        "id": "image_fit",
        "label": "Product image fit",
        "options": [
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "default": "cover"
      },
      {
        "type": "checkbox",
        "id": "show_excerpt",
        "default": true,
        "label": "Show product description excerpt"
      },
      {
        "type": "checkbox",
        "id": "show_borders",
        "label": "Show image borders",
        "default": true
      },
      {
        "type": "header",
        "content": "Collection (optional)"
      },
      {
        "type": "paragraph",
        "content": "When you select a collection, any product blocks will be ignored"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "header",
        "content": "Carousel"
      },
      {
        "type": "checkbox",
        "id": "show_navigation",
        "default": true,
        "label": "Show navigation buttons"
      },
      {
        "type": "number",
        "id": "timer",
        "label": "Rotation time",
        "min": 0,
        "max": 100,
        "default": 5,
        "info": "In seconds. Set to 0 to disable auto rotation"
      },
      {
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "checkbox",
        "id": "heading_centering",
        "label": "Show Heading by center",
        "default": false
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing between columns",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "padding_top",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "select",
        "id": "spacing_mobile",
        "label": "Spacing between columns",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_top_mobile",
        "label": "Padding top",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "padding_bottom_mobile",
        "label": "Padding bottom",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "medium"
      }
    ],
    "max_blocks": 16,
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Block title",
            "default": "Title"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Button"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button url",
            "default": "booqable://products"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background image"
          },
          {
            "type": "header",
            "content": "Overlay"
          },
          {
            "type": "checkbox",
            "id": "show_overlay",
            "label": "Show overlay",
            "default": true
          },
          {
            "type": "color",
            "id": "overlay_color",
            "label": "Color",
            "default": "#FFFFFF"
          },
          {
            "type": "color",
            "id": "overlay_background",
            "label": "Background color",
            "default": "#000000"
          },
          {
            "type": "number",
            "id": "overlay_opacity",
            "label": "Background percentage",
            "min": 0,
            "max": 100,
            "default": 40
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}
